# LOCAL
DATABASE_URL="postgresql://craft_user:craft_password@localhost:5432/craft_calculator?schema=public"

# NEON
# DATABASE_URL="postgresql://user:password@host/dbname?sslmode=verify-full&channel_binding=require"

# SUPABASE
# DATABASE_URL="postgresql://postgres:password@db.example.supabase.co:5432/postgres"

BETTER_AUTH_SECRET=replace-with-your-secret
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000/api/auth
SHADOW_DATABASE_URL=postgresql://craft_user:craft_password@localhost:5432/craft_calculator_shadow?schema=public
